
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
  }


.navlogo{
    margin-left: 100px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 20px;   
    width: 365px;
}
nav ul a{
    text-decoration: none;
    color: black;
}
nav button{
    width: 162px;
    height: 44px;
    border-radius: 7px;
    padding: 12px 16px 12px 16px;
    margin-right: 105px;
    color: white;
    font-size: medium;
    background-color: chocolate;
}

